<!doctype html>
<html lang="en">
	<head>
        
        <meta charset="utf-8" />
        <title>Projects | My-CRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- DataTables -->
        <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />   

		<link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css">
        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />		
        <link href="assets/libs/tui-chart/tui-chart.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body data-topbar="light">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="30">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-light.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="19">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

						<ul class="nav menu nav-pills me-3" role="tablist" id="top-menu-dasktop">
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link active" data-bs-toggle="tab" href="#overview" role="tab" title="Overview" aria-selected="false">
									<span class="">Projects</span> 
								</a>
							</li>
						</ul>

                        <!-- App Search-->
                        <form class="app-search d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bx bx-search-alt"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </header>

			<!-- Left Sidebar Start -->
			<div class="vertical-menu">

				<div data-simplebar class="h-100">

					<!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">

                            <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="bx bx-receipt"></i>
                                    <span key="t-dashbard">Dashboard</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-align-left"></i>
                                    <span key="t-leads">Leads</span>
                                </a>
                            </li>

                            <li>
                                <a href="clients.html" class="waves-effect">
                                    <i class="bx bxs-bank"></i>
                                    <span key="t-pmethods">Clients</span>
                                </a>
                            </li>

                            <li>
                                <a href="invoices.html" class="waves-effect">
                                    <i class="bx bx-file"></i>
                                    <span key="t-invoice">Invoices</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-download"></i>
                                    <span key="t-estimate">Estimate</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-credit-card"></i>
                                    <span key="t-credits">Credit Note</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-wallet-alt"></i>
                                    <span key="t-payments">Payments</span>
                                </a>
                            </li>

                            <li class="mm-active">
                                <a href="projects.html" class="waves-effect active">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-project">Project</span>
                                </a>
                            </li>

                            <li>
                                <a href="tasks.html" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-tasks">Tasks</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-calender">Calender</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-wplan">Weekly Plans</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-journals">My Daily Journals</span>
                                </a>
                            </li>

                            <li>
                                <a href="settings.html" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-settings">Settings</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
					<div class="social-links">
						<div class="icons">
							<a href="#" target="_blank"><img src="assets/images/facebook.png"></a>
							<a href="#" target="_blank"><img src="assets/images/twitter.png"></a>
							<a href="#" target="_blank"><img src="assets/images/github.png"></a>
							<a href="#" target="_blank"><img src="assets/images/email.png"></a>
							<a href="#" target="_blank"><img src="assets/images/youtube.png"></a>
						</div>	
					</div>

				</div>
			</div>
			<!-- Left Sidebar End -->

			<!-- Start main Content here -->
			<div class="main-content">
				<!-- Start page-Content here -->
				<div class="left-content">
					<div class="page-content h-100" id="scroll-block" data-simplebar data-simplebar-auto-hide="false">
						<div class="tab-content" id="tab-content-dasktop">
							<div class="tab-pane active" id="overview" role="tabpanel">
								<div class="row" id="details-block">
									<div class="col-lg-12">
										<div class="card">
											<div class="bg-primary bg-soft clients-data-header">
												<div class="row">
													<div class="col-sm-4">
														<div class="text-primary p-2 ps-4 title">
															<h5 class="text-primary m-0">Invoice</h5>
														</div>
													</div>
													<div class="col-sm-8">	
														<div class="filters invoice p-2 pe-4">
															<div class="input-group select-year">
																<label class="input-group-text decrease"><i class="bx bx-chevron-left"></i></label>
																<input class="form-control form-control-sm" type="text" min="1990" max="2050" value="2020" id="year-filter" placeholder="Year">
																<label class="input-group-text increase"><i class="bx bx-chevron-right"></i></label>
															</div>
															<div class="input-group select-filter">																
																<select class="form-control form-select form-select-sm btn-filter">
																  <option selected>Filter</option>
																  <option value="1">One</option>
																  <option value="2">Two</option>
																  <option value="3">Three</option>
																</select>
																<label class="input-group-text"><i class="bx bx-slider"></i></label>
															</div>
															<div class="input-group select-sort">																
																<select class="form-control form-select form-select-sm btn-sort">
																  <option selected>Sorteer</option>
																  <option value="1">One</option>
																  <option value="2">Two</option>
																  <option value="3">Three</option>
																</select>
																<label class="input-group-text"><i class="bx bx-sort-down"></i></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div>
												<table id="datatable" class="table table-bordered dt-responsive  nowrap w-100 table-details">
													<thead>
													<tr>														
														<th>Name</th>
														<th>Client</th>
														<th>Task Rate</th>
														<th>Due Date</th>
														<th>Budget</th>
														<th>Entity State</th>
													</tr>
													</thead>
				
				
													<tbody>
													<tr>
														<td>Test Drive</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive1</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive2</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive3</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive4</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive8</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive8</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive9</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive12</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive7</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive9</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive11</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive10</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive13</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive4</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive6</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive8</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive2</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive6</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive9</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive15</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive11</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive33</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive12</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive10</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive1</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive12</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive6</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive8</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive14</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive12</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													<tr>
														<td>Test Drive</td>
														<td>Mercel</td>
														<td>$0.00</td>
														<td>23/Aug/2021</td>
														<td>500 Hours</td>
														<td>Active</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<!-- End Page-content -->					

				<!-- Start right Content here -->
				<div class="right-content">					
	
					<!-- Nav tabs -->
					<div class="scroll-nav">
						<ul class="nav menu nav-pills" role="tablist" id="top-menu">
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link active" data-bs-toggle="tab" href="#details" role="tab" title="Details">
									<span class="">Details</span> 
								</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" data-bs-toggle="tab" href="#overview2" role="tab" title="Overview">
									<span class="">Overview</span> 
								</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" data-bs-toggle="tab" href="#documents" role="tab" title="Documents">
									<span class="">Documents</span> 
								</a>
							</li>
							<li class="nav-item  sm-hidden right-icon">
								<div class="nav-link">
									<a href="#">Edit</a>
									<a href="#"><i class="mdi mdi-dots-vertical"></i></a>
									<a href="#"><i class="mdi mdi-window-close"></i></a>	
								</div>
							</li>
						</ul>
					</div>

					<div class="page-content h-100" data-simplebar data-simplebar-auto-hide="false">

						<!-- Tab panes -->
						<div class="tab-content" id="tab-content">							
							<div class="tab-pane active" id="details" role="tabpanel">	
								<div class="row">
									<div class="col-12">
										<div class="card">
											<div class="card-body">												
												<div class="row sm-show">
													<div class="col-md-6">
													</div>
													<div class="col-md-6 nav-link mb-2">	
														<a href="#">Edit</a>
														<a href="#"><i class="mdi mdi-dots-vertical"></i></a>
														<a href="#"><i class="mdi mdi-window-close"></i></a>
													</div>
												</div>
												<div class="row mb-3 pb-4 border-bottom">
													<div class="col-6 total-time">
														<span>Total</span>
														<h4 class="">0:00:00</h4>
													</div>
													<div class="col-6 budget-time">
														<span>Budgeted</span>
														<h4 class="">500:00:00</h4>
													</div>
												</div>												
												<div class="row mt-3 pb-3 border-bottom">
													<div class="col-6"><h6 class="title-icon"><i class="mdi mdi-account-group-outline"></i> marcel</h6></div>
													<div class="col-6 text-end"><i class="mdi mdi-filter-variant" style="font-size:20px"></i></div>
												</div>												
												<div class="row border-bottom">
													<div class="accordion accordion-flush" id="task">
														<div class="accordion-item">
															<h2 class="accordion-header" id="flush-headingOne">
																<button class="accordion-button fw-medium collapsed ps-0 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
																<i class="mdi mdi-timer-outline"></i> <h6>Tasks <br/><small class="text-gray">1 active</small></h6>
																</button>
															</h2>
															<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#task">
																<div class="text-gray mb-2">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</div>
															</div>
														</div>
													</div>
												</div>													
												<div class="row mb-3 border-bottom">
													<div class="accordion accordion-flush" id="expenses">														
														<div class="accordion-item">
															<h2 class="accordion-header" id="flush-headingTwo">
																<button class="accordion-button fw-medium collapsed ps-0 pe-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
																<i class="mdi mdi-file-image-outline"></i> <h6>Expenses  <br/><small class="text-gray">None</small></h6>
																</button>
															</h2>
															<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#expenses">
																<div class="text-gray mb-2">Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore.</div>
															</div>
														</div>
													</div>
												</div>											
												<div class="row mt-3 pb-3 border-bottom">
													<div class="col-6"><small class="text-gray" style="font-weight: 500;">Due Date</small><h6>23/Aug/2021<h6></div>
													<div class="col-6"><small class="text-gray" style="font-weight: 500;">Task Rate</small><h6>$0.00<h6></div>
												</div>												
												<div class="row mt-3 pb-3 pt-3 border-bottom">
													<div class="col-6">
														<p class="text-gray">Private Note<p>
													</div>
												</div>	
											</div>
											<!-- end card body -->
										</div>
										<!-- end card -->
									</div>
								</div>
							</div>
							<div class="tab-pane" id="overview2" role="tabpanel">
								<p class="mb-0">
									Etsy mixtape wayfarers, ethical wes anderson tofu before they
									sold out mcsweeney's organic lomo retro fanny pack lo-fi
									farm-to-table readymade. Messenger bag gentrify pitchfork
									tattooed craft beer, iphone skateboard locavore carles etsy
									salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
									Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
									mi whatever gluten-free.
								</p>
							</div>
							<div class="tab-pane" id="documents" role="tabpanel">
								<p class="mb-0">
									Etsy mixtape wayfarers, ethical wes anderson tofu before they
									sold out mcsweeney's organic lomo retro fanny pack lo-fi
									farm-to-table readymade. Messenger bag gentrify pitchfork
									tattooed craft beer, iphone skateboard locavore carles etsy
									salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
									Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
									mi whatever gluten-free.
								</p>
							</div>
						</div>

					</div> <!-- end slimscroll-menu-->                                
					<div class="row content-footer">
						<div class="col-1">
							<span class="double-dots"><i class="mdi mdi-apps"></i></span>
						</div>
						<div class="col-3"><a href="new-project.html">New Task</a></div>
						<div class="col-4"><a href="projects-list.html">Invoice Project</a></div>
						<div class="col-4"><a href="project-board.html">Project Board</a></div>
					</div>
				</div>
				<!-- end right content-->

				<!-- Modal -->
				<div class="modal fade transaction-detailModal" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="transaction-detailModalLabel">Order Details</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
								<p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

								<div class="table-responsive">
									<table class="table align-middle table-nowrap">
										<thead>
											<tr>
												<th scope="col">Product</th>
												<th scope="col">Product Name</th>
												<th scope="col">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">
													<div>
														<img src="assets/images/product/img-7.png" alt="" class="avatar-sm">
													</div>
												</th>
												<td>
													<div>
														<h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
														<p class="text-muted mb-0">$ 225 x 1</p>
													</div>
												</td>
												<td>$ 255</td>
											</tr>
											<tr>
												<th scope="row">
													<div>
														<img src="assets/images/product/img-4.png" alt="" class="avatar-sm">
													</div>
												</th>
												<td>
													<div>
														<h5 class="text-truncate font-size-14">Phone patterned cases</h5>
														<p class="text-muted mb-0">$ 145 x 1</p>
													</div>
												</td>
												<td>$ 145</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Sub Total:</h6>
												</td>
												<td>
													$ 400
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Shipping:</h6>
												</td>
												<td>
													Free
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Total:</h6>
												</td>
												<td>
													$ 400
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end modal -->
				
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
                            <div class="col-sm-6">
                                Copywrite © <script>document.write(new Date().getFullYear())</script> Invoice Ninja.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    <!-- <img src="assets/images/footlg.png" alt="" height="15"> -->
                                </div>
                            </div>
						</div>
					</div>
				</footer>				

				<!-- Loader -->
				<div id="preloader">
					<div id="status">
						<div class="spinner-chase">
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
						</div>
					</div>
				</div>

			</div>
			<!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts -->
        <script src="assets/libs/apexcharts/apexcharts.min.js"></script>		

        <!-- tui charts plugins -->
        <script src="assets/libs/tui-chart/tui-chart-all.min.js"></script>

        <!-- tui charts map -->
        <script src="assets/libs/tui-chart/maps/usa.js"></script>

        <!-- tui charts plugins -->
        <script src="assets/js/pages/tui-charts.init.js"></script>
		
		<script src="assets/libs/dropzone/min/dropzone.min.js"></script>

        <!-- Required datatable js -->
        <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="assets/libs/jszip/jszip.min.js"></script>
        <script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        
        <!-- Responsive examples -->
        <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>
		<!-- Datatable init js -->
        <script src="assets/js/pages/datatables.init.js"></script>   

		<script>
			jQuery(window).on("load", function(){ 

				if ($(window).width() < 992) {
					var menuobj = $("#top-menu-dasktop").html();
					$("#top-menu-dasktop").remove();
					$("#top-menu").prepend(menuobj);
					var contentobj = $("#tab-content-dasktop").html();
					$("#tab-content-dasktop").remove();
					$("#tab-content").prepend(contentobj);

				}
			});

			$(window).resize(function() {
				if ($(window).width() < 992) {
					location.reload();
				}
			});

			$(document).ready(function(){
				if ($(window).width() < 992) {
					$(".menu a[href$='#details']").removeClass('active');
					$(".tab-content #details").removeClass('active');
					$(".menu a[href$='#overview']").addClass('active');
					$(".tab-content #overview").addClass('active');
					//$(".chart-large #column-charts").removeAttr('id');
				} 
				$(".select-year .increase").click(function(){
					$(".select-year input").val(parseInt($(".select-year input").val()) + 1);
				})
				$(".select-year .decrease").click(function(){
					$(".select-year input").val(parseInt($(".select-year input").val()) - 1);
				})
			});

		</script>

        <script src="assets/js/app.js"></script>
    </body>
</html>
