<!doctype html>
<html lang="en">
	<head>
        
        <meta charset="utf-8" />
        <title>Tasks | My-CRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- DataTables -->
        <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />   

		<link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css">
        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />		
        <link href="assets/libs/tui-chart/tui-chart.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body data-topbar="light">

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="30">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-light.svg" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="19">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>

						<ul class="nav menu nav-pills me-3" role="tablist" id="top-menu-dasktop">
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link active" data-bs-toggle="tab" href="#overview" role="tab" title="Overview" aria-selected="false">
									<span class="">Projects</span> 
								</a>
							</li>
						</ul>

                        <!-- App Search-->
                        <form class="app-search d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="bx bx-search-alt"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </header>

			<!-- Left Sidebar Start -->
			<div class="vertical-menu">

				<div data-simplebar class="h-100">

					<!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">

                            <li>
                                <a href="index.html" class="waves-effect">
                                    <i class="bx bx-receipt"></i>
                                    <span key="t-dashbard">Dashboard</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-align-left"></i>
                                    <span key="t-leads">Leads</span>
                                </a>
                            </li>

                            <li>
                                <a href="clients.html" class="waves-effect">
                                    <i class="bx bxs-bank"></i>
                                    <span key="t-pmethods">Clients</span>
                                </a>
                            </li>

                            <li>
                                <a href="invoices.html" class="waves-effect">
                                    <i class="bx bx-file"></i>
                                    <span key="t-invoice">Invoices</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-download"></i>
                                    <span key="t-estimate">Estimate</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-credit-card"></i>
                                    <span key="t-credits">Credit Note</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-wallet-alt"></i>
                                    <span key="t-payments">Payments</span>
                                </a>
                            </li>

                            <li>
                                <a href="projects.html" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-project">Project</span>
                                </a>
                            </li>

                            <li class="mm-active">
                                <a href="tasks.html" class="waves-effect active">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-tasks">Tasks</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-calender">Calender</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-wplan">Weekly Plans</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-journals">My Daily Journals</span>
                                </a>
                            </li>

                            <li>
                                <a href="settings.html" class="waves-effect">
                                    <i class="bx bx-tv"></i>
                                    <span key="t-settings">Settings</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- Sidebar -->
					<div class="social-links">
						<div class="icons">
							<a href="#" target="_blank"><img src="assets/images/facebook.png"></a>
							<a href="#" target="_blank"><img src="assets/images/twitter.png"></a>
							<a href="#" target="_blank"><img src="assets/images/github.png"></a>
							<a href="#" target="_blank"><img src="assets/images/email.png"></a>
							<a href="#" target="_blank"><img src="assets/images/youtube.png"></a>
						</div>	
					</div>

				</div>
			</div>
			<!-- Left Sidebar End -->

			<!-- Start main Content here -->
			<div class="main-content">
				<!-- Start page-Content here -->
				<div class="left-content">
					<div class="page-content h-100" id="scroll-block" data-simplebar data-simplebar-auto-hide="false">
						<div class="tab-content" id="tab-content-dasktop">
							<div class="tab-pane active" id="overview" role="tabpanel">
								<div class="row" id="details-block">
									<div class="col-lg-12">
										<div class="card">
											<div class="bg-primary bg-soft clients-data-header">
												<div class="row">
													<div class="col-sm-4">
														<div class="text-primary p-2 ps-4 title">
															<h5 class="text-primary m-0">Invoice</h5>
														</div>
													</div>
													<div class="col-sm-8">	
														<div class="filters invoice p-2 pe-4">
															<div class="input-group select-year">
																<label class="input-group-text decrease"><i class="bx bx-chevron-left"></i></label>
																<input class="form-control form-control-sm" type="text" min="1990" max="2050" value="2020" id="year-filter" placeholder="Year">
																<label class="input-group-text increase"><i class="bx bx-chevron-right"></i></label>
															</div>
															<div class="input-group select-filter">																
																<select class="form-control form-select form-select-sm btn-filter">
																  <option selected>Filter</option>
																  <option value="1">One</option>
																  <option value="2">Two</option>
																  <option value="3">Three</option>
																</select>
																<label class="input-group-text"><i class="bx bx-slider"></i></label>
															</div>
															<div class="input-group select-sort">																
																<select class="form-control form-select form-select-sm btn-sort">
																  <option selected>Sorteer</option>
																  <option value="1">One</option>
																  <option value="2">Two</option>
																  <option value="3">Three</option>
																</select>
																<label class="input-group-text"><i class="bx bx-sort-down"></i></label>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="table-responsive">
												<table class="table table-bordered table-hover table-nowrap mb-0">
													<thead>
													<tr>														
														<th>#</th>
														<th><span style="display: flex;"><i class="bx bx-check" style="font-size: 18px; font-weight: 600;"></i> Task</span></th>
														<th></th>
														<th>Due Date</th>
														<th>Time Remaining</th>
													</tr>
													</thead>			
				
													<tbody>
														<tr>
															<td>1</td>
															<td>Update contractor agreement</td>
															<td><span class="badge badge-md bg-primary">IN PROGRESS</span></td>
															<td>Tomorrow</td>
															<td>6h 20m</td>
														</tr>
														<tr>
															<td>2</td>
															<td>Plan for next year</td>
															<td><span class="badge badge-md bg-info">PENDING</span></td>
															<td>-</td>
															<td>-</td>
														</tr>
														<tr>
															<td>3</td>
															<td>How to manage event planning</td>
															<td><span class="badge badge-md bg-success">READY FOR DEV</span></td>
															<td><span class="text-danger">Apr 28</span></td>
															<td>-</td>
														</tr>
														<tr>
															<td>4</td>
															<td>Reminders for Tasks</td>
															<td><span class="badge badge-md bg-warning">REVIEW</span></td>
															<td>-</td>
															<td>2h</td>
														</tr>
														<tr>
															<td>5</td>
															<td>Budget assessment</td>
															<td><span class="badge badge-md bg-danger">ISSUES FOUND</span></td>
															<td>-</td>
															<td>-</td>
														</tr>
														<tr>
															<td>6</td>
															<td>Finalize project scope</td>
															<td><span class="badge badge-md bg-primary">IN PROGRESS</span></td>
															<td><span class="text-danger">Today</span></td>
															<td>1h</td>
														</tr>
														<tr>
															<td>7</td>
															<td>Gather key resources</td>
															<td><span class="badge bg-success">READY FOR DEV</span></td>
															<td>-</td>
															<td>-</td>
														</tr>
														<tr>
															<td>8</td>
															<td>Resource Table</td>
															<td><span class="badge badge-md bg-primary">IN PROGRESS</span></td>
															<td><span class="text-danger">Today</span></td>
															<td>-</td>
														</tr>
														<tr>
															<td>9</td>
															<td>Resource allocation</td>
															<td><span class="badge badge-md bg-warning">REVIEW</span></td>
															<td>May 21</td>
															<td>-</td>
														</tr>
														<tr>
															<td>10</td>
															<td>New contractor agreement</td>
															<td><span class="badge badge-md bg-danger">ISSUES FOUND</span></td>
															<td>Tomorrow</td>
															<td>1d</td>
														</tr>
														<tr>
															<td>11</td>
															<td>Update key objectives</td>
															<td><span class="badge badge-md bg-primary">IN PROGRESS</span></td>
															<td>-</td>
															<td>-</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
				</div>
				<!-- End Page-content -->					

				<!-- Start right Content here -->
				<div class="right-content">					
	
					<!-- Nav tabs -->
					<div class="scroll-nav">
						<ul class="nav menu nav-pills" role="tablist" id="top-menu">
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link active" data-bs-toggle="tab" href="#details" role="tab" title="Details">
									<span class="">Details</span> 
								</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" data-bs-toggle="tab" href="#overview2" role="tab" title="Overview">
									<span class="">Add View</span> 
								</a>
							</li>
							<li class="nav-item right-icon">
								<div class="nav-link">
									<a href="new-task.html">Edit</a>
									<a href="#"><i class="mdi mdi-dots-vertical"></i></a>
									<a href="#"><i class="mdi mdi-window-close"></i></a>	
								</div>
							</li>
						</ul>
					</div>

					<div class="page-content h-100" data-simplebar data-simplebar-auto-hide="false">

						<!-- Tab panes -->
						<div class="tab-content" id="tab-content">							
							<div class="tab-pane active" id="details" role="tabpanel">
								<div class="row task-cover">
									<div class="col-12">
										<span class="cancel"><i class="bx bx-x"></i></span>
										<span class="img-upload"><i class="bx bx-image"></i> Omslag</span>										
									</div>
								</div>
								
								<div class="card">
									<div class="row">
										<div class="col-8 col-xxs-12">
											<div class="p-4 pb-0 border-bottom ">
												<div class="row">
													<div class="col-12">
														<h5 class="font-size-15 mb-1">Create Estimate</h5>
														<span>in lijst <a href="#" class="underline">Backlog</a></span>
														
														<div class="mt-3">											
															<span class="d-block">Leden</span>
															<div class="d-flex">					
																<img src="assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle" alt="">
																<i class="bx bx-plus profile-img"></i>
															</div>
														</div>
													</div>
												</div>
											</div> 			
			
											<div>
												<div class="chat-conversation p-3">
													<ul class="list-unstyled mb-0" data-simplebar data-simplebar-auto-hide="true" style="max-height: 420px;">
														<li>
															<div class="conversation-list">
																<div class="dropdown">
			
																	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="bx bx-dots-vertical-rounded"></i>
																	  </a>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#">Copy</a>
																		<a class="dropdown-item" href="#">Save</a>
																		<a class="dropdown-item" href="#">Forward</a>
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<div class="ctext-wrap">
																	<div class="conversation-name">																		
																		<span class="chat-name"><i class="bx bx-detail align-middle me-1"></i> Omschrijving</span>
																		<span class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> 10:00</span>
																	</div>
																	<p>
																		Hello!
																	</p>
																</div>
																
															</div>
														</li>

														<li> 
															<div class="chat-day-title">
																<span class="title">Today</span>
															</div>
														</li>
			
														<li class="right">
															<div class="conversation-list">
																<div class="dropdown">
			
																	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="bx bx-dots-vertical-rounded"></i>
																	  </a>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#">Copy</a>
																		<a class="dropdown-item" href="#">Save</a>
																		<a class="dropdown-item" href="#">Forward</a>
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<div class="ctext-wrap">
																	<div class="conversation-name">
																		Henry Wells																		
																		<span class="chat-time"><i class="bx bx-time-five align-middle me-1"></i> 10:02</span>
																	</div>
																	<p>
																		Hi, How are you? What about our next meeting?
																	</p>
																</div>
															</div>
														</li>

														<li>
															<div class="conversation-list">
																<div class="dropdown">
			
																	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="bx bx-dots-vertical-rounded"></i>
																	  </a>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#">Copy</a>
																		<a class="dropdown-item" href="#">Save</a>
																		<a class="dropdown-item" href="#">Forward</a>
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<div class="ctext-wrap">
																	<div class="conversation-name">
																		<span class="chat-name"><i class="bx bx-detail align-middle me-1"></i> Omschrijving</span>
																		<span class="chat-tag">Bewerken</span>
																		<span class="chat-time"><i class="bx bx-time-five align-middle me-1"></i> 10:06</span>
																	</div>
																	<p>
																		Check how freshbook greate estimate works and how that look like. We want the same UI and same working
																	</p>
																</div>
																
															</div>
														</li>
			
														<li class="">
															<div class="conversation-list">
																<div class="dropdown">
			
																	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="bx bx-dots-vertical-rounded"></i>
																	  </a>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#">Copy</a>
																		<a class="dropdown-item" href="#">Save</a>
																		<a class="dropdown-item" href="#">Forward</a>
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<div class="ctext-wrap">
																	<div class="conversation-name">																		
																		<span class="chat-name"><i class="bx bx-paperclip align-middle me-1"></i> Bijlagen</span>
																		<span class="chat-time"><i class="bx bx-time-five align-middle me-1"></i> 10:06</span>
																	</div>
																	<div class="attachment">
																		<img src="assets/images/img-3.jpg" class="avatar-lg">
																		<p>
																			<span><a href="#">afbeelding.png <i class="bx bx-link-external align-middle me-1"></i></a></span>
																			<span>Toegevoegd op 16 jun. om 21:37 - <a href="#" class="underline">Opmerking</a> - <a href="#" class="underline">Verwijder</a> - <a href="#" class="underline">Bewerken</a></span>
																			<span class="mt-1"><i class="bx bx-desktop align-middle me-1"></i><a href="#" class="underline">Verwijder omslag</a></span>
																		</p>
																	</div>
																	<span class="chat-tag">Een bijlage toevoegen</span>
																</div>
																
															</div>
														</li>
			
														<li class=" right">
															<div class="conversation-list">
																<div class="dropdown">
			
																	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="bx bx-dots-vertical-rounded"></i>
																	  </a>
																	<div class="dropdown-menu">
																		<a class="dropdown-item" href="#">Copy</a>
																		<a class="dropdown-item" href="#">Save</a>
																		<a class="dropdown-item" href="#">Forward</a>
																		<a class="dropdown-item" href="#">Delete</a>
																	</div>
																</div>
																<div class="ctext-wrap">
																	<div class="conversation-name">
																		Henry Wells																		
																		<span class="chat-time"><i class="bx bx-time-five align-middle me-1"></i> 10:06</span>
																	</div>
																	<p>
																		Wow that's great
																	</p>
																</div>
															</div>
														</li>
														
														
													</ul>
												</div>
												<div class="p-3 pt-1 chat-input-section">
													<div class="row mb-2">
														<div class="col">
															<span class="chat-activity"><i class="bx bx-list-ul align-middle me-1"></i> Activiteit</span>
														</div>
														<div class="col-auto">
															<span class="chat-activity-detail">Details weergeven</span>
														</div>
													</div>
													<div class="row">
														<div class="col">
															<div class="position-relative">
																<input type="text" class="form-control chat-input" placeholder="Maak een opmerking...">
																<div class="chat-input-links" id="tooltip-container">
																	<ul class="list-inline mb-0">
																		<li class="list-inline-item"><a href="javascript: void(0);" title="Emoji"><i class="mdi mdi-emoticon-happy-outline"></i></a></li>
																		<li class="list-inline-item"><a href="javascript: void(0);" title="Images"><i class="mdi mdi-file-image-outline"></i></a></li>
																		<li class="list-inline-item"><a href="javascript: void(0);" title="Add Files"><i class="mdi mdi-file-document-outline"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="col-auto">
															<button type="submit" class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block me-2">Send</span> <i class="mdi mdi-send"></i></button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4 col-xxs-12">
											<dl class="pt-4 p-2 userlist">
												<dt>Voorgesteld <i class="bx bx-cog bx-spin float-right"></i></dt>
												<dd><i class="bx bx-user"></i> Deelnemen</dd>
												<dt>Toevoegen aan kaart</dt>
												<dd class="dropstart" style="cursor: pointer;">
													<div data-bs-toggle="dropdown" aria-expanded="false"> <i class="bx bx-user"></i> Leden </div>
													<div class="dropdown-menu p-0" style="">
														<div class="p-2" style="min-width: 250px;">
															<h6 style="border-bottom:solid 1px #eff2f7 !important;" class="text-center pb-2 text-gray">Leden</h6>
															<div>
																<input datalist="browsers" type="search" placeholder="Leden Zoeken" class="form-control-sm mb-2" style="border-color: #dbdbdb; width: 100%;"></input>
																<datalist id="browsers">
																  <option value="Edge">
																  <option value="Firefox">
																  <option value="Chrome">
																  <option value="Opera">
																  <option value="Safari">
																</datalist>
																<p class="bold mb-2">Bordleden</p>
																<div class="d-flex align-items-center mb-2"><img src="assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle me-2" alt=""> Atieeq (atieeq)<i class="bx bx-check text-success ms-auto"></i></div>
																<div class="d-flex align-items-center mb-2"><img src="assets/images/users/avatar-1.jpg" class="avatar-xs rounded-circle me-2" alt=""> Hossain 15 (hossain 15)</div>
															</div>
															<div class="small pt-1 pb-1 mt-2 text-center" style="background: #eef0fc;">Toon andere Workspace-leden</div>
														</div>
													</div>
												</dd>
												<dd><i class="bx bx-purchase-tag-alt"></i> Labels</dd>
												<dd><i class="bx bx-checkbox-checked"></i> Checklist</dd>
												<dd><i class="bx bx-time"></i> Datums</dd>
												<dd><i class="bx bx-paperclip"></i> Bijlage</dd>
												<dt>Acties</dt>
												<dd><i class="bx bx-right-arrow-alt"></i> Verplaats</dd>
												<dd><i class="bx bx-copy-alt"></i> Kopieren</dd>
												<dd><i class="bx bx-layout"></i> Sjabloon maken</dd>
												<dd><i class="bx bx-show"></i> Volgen</dd>
												<dd><i class="bx bx-box"></i> Archiveren</dd>
												<dd><i class="bx bx-share-alt"></i> Delen</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="overview2" role="tabpanel">
								<p class="mb-0">
									Etsy mixtape wayfarers, ethical wes anderson tofu before they
									sold out mcsweeney's organic lomo retro fanny pack lo-fi
									farm-to-table readymade. Messenger bag gentrify pitchfork
									tattooed craft beer, iphone skateboard locavore carles etsy
									salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
									Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
									mi whatever gluten-free.
								</p>
							</div>
						</div>

					</div> <!-- end slimscroll-menu-->                                
					<div class="row content-footer d-none">
						<div class="col-1">
							<span class="double-dots"><i class="mdi mdi-apps"></i></span>
						</div>
						<div class="col-3"><a href="new-project.html">New Task</a></div>
						<div class="col-4"><a href="#">Invoice Project</a></div>
					</div>
				</div>
				<!-- end right content-->

				<!-- Modal -->
				<div class="modal fade transaction-detailModal" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="transaction-detailModalLabel">Order Details</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<p class="mb-2">Product id: <span class="text-primary">#SK2540</span></p>
								<p class="mb-4">Billing Name: <span class="text-primary">Neal Matthews</span></p>

								<div class="table-responsive">
									<table class="table align-middle table-nowrap">
										<thead>
											<tr>
												<th scope="col">Product</th>
												<th scope="col">Product Name</th>
												<th scope="col">Price</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">
													<div>
														<img src="assets/images/product/img-7.png" alt="" class="avatar-sm">
													</div>
												</th>
												<td>
													<div>
														<h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
														<p class="text-muted mb-0">$ 225 x 1</p>
													</div>
												</td>
												<td>$ 255</td>
											</tr>
											<tr>
												<th scope="row">
													<div>
														<img src="assets/images/product/img-4.png" alt="" class="avatar-sm">
													</div>
												</th>
												<td>
													<div>
														<h5 class="text-truncate font-size-14">Phone patterned cases</h5>
														<p class="text-muted mb-0">$ 145 x 1</p>
													</div>
												</td>
												<td>$ 145</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Sub Total:</h6>
												</td>
												<td>
													$ 400
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Shipping:</h6>
												</td>
												<td>
													Free
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<h6 class="m-0 text-right">Total:</h6>
												</td>
												<td>
													$ 400
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end modal -->
				
				<footer class="footer">
					<div class="container-fluid">
						<div class="row">
                            <div class="col-sm-6">
                                Copywrite © <script>document.write(new Date().getFullYear())</script> Invoice Ninja.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    <!-- <img src="assets/images/footlg.png" alt="" height="15"> -->
                                </div>
                            </div>
						</div>
					</div>
				</footer>				

				<!-- Loader -->
				<div id="preloader">
					<div id="status">
						<div class="spinner-chase">
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
							<div class="chase-dot"></div>
						</div>
					</div>
				</div>

			</div>
			<!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="assets/libs/jquery/jquery.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenu/metisMenu.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/node-waves/waves.min.js"></script>

        <!-- apexcharts -->
        <script src="assets/libs/apexcharts/apexcharts.min.js"></script>		

        <!-- tui charts plugins -->
        <script src="assets/libs/tui-chart/tui-chart-all.min.js"></script>

        <!-- tui charts map -->
        <script src="assets/libs/tui-chart/maps/usa.js"></script>

        <!-- tui charts plugins -->
        <script src="assets/js/pages/tui-charts.init.js"></script>
		
		<script src="assets/libs/dropzone/min/dropzone.min.js"></script>

        <!-- Required datatable js -->
        <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="assets/libs/jszip/jszip.min.js"></script>
        <script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
        <script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
        
        <!-- Responsive examples -->
        <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

        <script src="assets/js/pages/dashboard.init.js"></script>
		<!-- Datatable init js -->
        <script src="assets/js/pages/datatables.init.js"></script>   

		<script>
			jQuery(window).on("load", function(){ 

				if ($(window).width() < 992) {
					var menuobj = $("#top-menu-dasktop").html();
					$("#top-menu-dasktop").remove();
					$("#top-menu").prepend(menuobj);
					var contentobj = $("#tab-content-dasktop").html();
					$("#tab-content-dasktop").remove();
					$("#tab-content").prepend(contentobj);

				}
			});

			$(window).resize(function() {
				if ($(window).width() < 992) {
					location.reload();
				}
			});

			$(document).ready(function(){
				if ($(window).width() < 992) {
					$(".menu a[href$='#details']").removeClass('active');
					$(".tab-content #details").removeClass('active');
					$(".menu a[href$='#overview']").addClass('active');
					$(".tab-content #overview").addClass('active');
					//$(".chart-large #column-charts").removeAttr('id');
				} 
				$(".select-year .increase").click(function(){
					$(".select-year input").val(parseInt($(".select-year input").val()) + 1);
				})
				$(".select-year .decrease").click(function(){
					$(".select-year input").val(parseInt($(".select-year input").val()) - 1);
				})
			});

		</script>

        <script src="assets/js/app.js"></script>
    </body>
</html>
